
<div class="row">
  <main>
    <%= form_tag login_path, :method => :post, :id=>"login_form" do %>

    <p>
      <input type="text" name="email" placeholder="Email address">
    </p>
    <p>
      <input type="password" name="password" placeholder="Password">
    </p>
    <p>
      <input type="submit" value="Log In">
    </p>
      <input type="hidden" name="ref" value="<%= @referral_url %>">

  <% end %>
  <div class="forgotten">
    <p>
      Forgotten your email address or password
    </p>
  </div>

  <div class="signup">
    <p>
      <a href="/signup"><button>Sign Up</button></a>
    </p>
  </div>
  </main>
</div>
