<div class="row">
  <main>
    <div class="content-header">
      <h3>Sign up plz!</h3>
      <p>Participate in goals with your account and be a part that counts!</p>
    </div>

    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%#= f.label :username %>
      <p><input type="text" name="username" placeholder="Username"></p>
  <br>


      <%#= f.label :email %>
      <p><input type="text" name="email" placeholder="Email address"></p>
  <br>

      <%#= f.label :password %>
      <p><input type="password" name="password" placeholder="Password"></p>
  <br>

      <%#= f.label :password_confirmation %>
      <p><input type="text" name="password_confirmation" placeholder="Re-enter password"></p>

      <div class="large-pad">
        <p><input type="submit" value="Sign Up Now"></p>
      </div>

    <% end %>
  </main>
</div>
