<div class="row">
  <main>
    <div class="content-header user">
      <h2><%= @user.username %></h2>
      <h3><%= @user.email %></h3>
    </div>

    <div class="user-info row">
      <ul class="account-data ">
        <li class="small-6 column white-bg">
          <p>Days Streak</p>
          <p><span>3</span>day(s)</p>
        </li>
        <li class="small-6 column white-bg">
          <p>Last Completed</p>
          <p>Apr 29, 2015</p>
        </li>
      </ul>
      <ul class="tabs" data-tab>
        <li class="tab-title active small-6"><a href="subscribe"><span>3</span><p>Subscribe</p></a></li>
        <li class="tab-title small-6"><a href="completed"><span>20</span><p>Completed</p></a></li>
      </ul>



    </div>

    <div id="subscribe" class="user-goals">
      <a href="#">
        <article class="cat-show">
          <div class="overlay-progress"></div>
          <div class="cat-info">
            <div class="cat-image">
              <img src="<%= asset_path( 'category_icons/water.svg' ) %>" alt="">
            </div><!--
            --><div class="goal-info">
              <h1>Shower</h1>
              <p>Set phone timer to 7mins shower time!</p>

            </div>
            <div class="participation-info">
              <p><span class="joined">50</span> others on-board</p>

              <p>Target:<span class="target">70</span></p>
            </div>
          </div>

        </article>
      </a>
    </div>
    <div id="completed" class="user-completed hide">
      <a href="#">
        <article class="cat-show">
          <div class="overlay-progress"></div>
          <div class="cat-info">
            <div class="cat-image">
              <img src="<%= asset_path( 'category_icons/water.svg' ) %>" alt="">
            </div><!--
            --><div class="goal-info">
              <h1>I've done this</h1>
              <p>Set phone timer to 7mins shower time!</p>

            </div>
            <div class="participation-info">
              <p><span class="joined">50</span> others on-board</p>

              <p>Target:<span class="target">70</span></p>
            </div>
          </div>

        </article>
      </a>
    </div>


  </main>
</div>

<script>
  $(document).ready(function() {
    // write function to generate progress bar according to statistic
    $.each($('article'), function() {

      $progressBar = $(this);
      $joined = $(this).find('.joined');
      $target = $(this).find('.target');
      $percentage = $joined.text() / $target.text() * 100;

      $progressBar.velocity(
        {
          backgroundSize: $percentage+"%",
          backgroundColor: "#ffffff"
        },
        {
          delay: 300,
          easing: "easeOut",
          duration: 850
        });
      console.log($percentage);
      console.log($progressBar, $joined, $target);
    });

    $('.user-info ul.tabs').on('click', 'a', function(){
      console.log($(this).attr('href'));

    });
  });
</script>

