<div class="row">
  <main>

    <h1><%= @user.username %></h1>
    <h3><%= @user.email %></h3>

    <div class="user-info tabs row">

      <div class="small-6 column">subscribe</div>
      <div class="small-6 column">completed</div>
    </div>

  </main>
</div>

