<div class="row">
  <main class="small-12 columns landing">
    <div class="landing-statement">


      <h1>About ItCounts</h1>

      <div>
      <p>
      	This app/website is designed to bring people together over the digital porthole, and give a sense of community in trying to improve the planet.
		Each person can contribute by registering themselves and making little savings, that bundled together can make a huge impact to the environment.
		</p>

      </div>
      <p>
      	So come on, these are basic principles to live by, and you can see in live time, how many more people are doing exactly the same, be part of the digital community, saving the planet for thefuture, we are only the current custodial owners, we need to leave it to the next generation the way we found it, if not better.
      </p>

      <div>
      <p>ARE YOU IN? I'M IN!</p>
	  </div>

  </main>
</div>