<div class="row">
  <main class="small-12 columns landing">
    <div class="landing-statement">
      <h1 class="landing-title">
        <span class="landing-title-highlight">contact </span>
      </h1>

      <h1>This app was presented by teammvp</h1>

      <div id="ls">
	    <h2>Luke Shillabeer</h2>
	    <p><span class="link">LinkedIn:</span><span class="lkadd"> https://au.linkedin.com/in/</span></p>
	    <p><span class="email">Email:</span><span class="lkadd"> lshillabeer@gmail.com</span></p>
      </div>

      <div id="jc">
      	<h2>Jia Chee Lee</h2>
	    <p><span class="link">LinkedIn:</span><span class="lkadd"> https://au.linkedin.com/in/jiacheelee</span></p>
	    <p><span class="email">Email:</span><span class="lkadd"> jcleefw@hotmail.com</span></p>
	  </div>

	  <div id="jw">
	  	<h2>Jeff Wolff</h2>
	  	<p><span class="link">LinkedIn:</span><span class="lkadd"> https://au.linkedin.com/in/wolffbj</span></p>
	  	<p><span class="email">Email:</span><span class="lkadd"> jeffwolff23@gmail.com</span></p>
	  </div>

  </main>
</div>