<div class="row">
  <main class="small-12 columns landing">
    <div class="landing-statement">
      <h1 class="landing-title">
        <span class="landing-title-highlight">7201 </span>
        <%= @fact.description %>
      </h1>
      <div>
        <h2>Click to join!</h2>
      </div>
    </div>
      <a href="<%= single_category_path(@fact.category.title) %>">

      <div class="rnd-btn">
        <div class="category-logo">
          <img src="<%= asset_path( 'category_icons/water.svg' ) %>">
          <p><span class="im-span">I'm</span><span class="in-span">In</span></p>
        </div>
      </div>
      </a>
  </main>
</div>
