* {
  font-family: $font-family;
  padding: 0;
  margin: 0;
}

header {
  //@include box-shadow(rgba($black,.3) 2px 2px 10px);
  z-index: 10;
  h1{
    text-indent: -9999px;
    display:inline-block;
  }
  img{
    padding: $small-pad 0 $normal-pad;
  }
  .header-logo{
    width: 73%;
    display: inline-block;
  }
}
main {
  @include background-image(linear-gradient($light-green, $turquoise));
  min-height: 500px;
  text-align: center;
  padding-top: 20px;
  color: $dark-gray;
}

section{
  background-color: $light-gray;
  font-size:0.8em;
}
footer {
  position:fixed;
  bottom: 0;
  background-color: $dark-gray;
  color: $white;

  .bottom {
    padding-top:$small-pad;
    p{
      display:inline;
      text-align: left;
      font-size: 0.6em;
      vertical-align: top;
      &:last-child{
        text-align: right;
        float: right;
      }
    }
  }
}

article {
  background-color: $white;
  position: relative;
}

/* general classes that will be shared in all pages */
.show {
  display: block;
}
.hide {
  display: none;
}