* {
  font-family: $font-family;
  padding: 0;
  margin: 0;
}

header {
  //@include box-shadow(rgba($black,.3) 2px 2px 10px);
  z-index: 10;
  h1{
    text-indent: -9999px;
    display:none;
  }
  img{
    padding: ($normal-pad)-1px 0 $normal-pad;
    width: 80%;

    display: inline-block;
  }
  .header-logo{
    display: inline-block;
    vertical-align: top;
  }
}
main {
  @include background-image(linear-gradient($light-green, $turquoise));
  height: 100%;
  text-align: center;
  padding-top: 20px;
  color: $dark-gray;
}

footer {
  position:fixed;
  bottom: 0;
  background-color: $dark-gray;
  color: $white;

  .bottom {
    padding-top:$small-pad;
    p{
      display:inline;
      text-align: left;
      font-size: 0.6em;
      vertical-align: top;
      &:last-child{
        text-align: right;
        float: right;
      }
    }
  }
}

article {
  background-color: $white;
  position: relative;
}

a, a:visited {
  color:inherit;
}

button:focus, button:active {
  outline:none;
  cursor: pointer;
}


/* general classes that will be shared in all pages */
.show {
  display: block;
}
.hide {
  display: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
