$font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;

// color variables
$white        : #FFFFFF;
$yellow       : #F7C03A;
$orange       : #FD8458;
$dark-orange  : #F15C25;
$blue         : #15B6CB;
$cadet-blue   : #44696D;
$light-green  : #99CA3C;
$olive        : #A3AB3C;
$dark-green   : #596E30;
$turquoise    : #3C9D96;
$text-gray    : #67686C;
$dark-gray    : #67686C;
$black        : #000000;

$small-pad    : 10px;
$normal-pad   : 15px;
$medium-pad   : 30px;
$large-pad    : 50px;


