<div class="row">
  <main class="small-12 columns">
    <ul class="row inline-list cat-list">

      <li class="small-6">
        <div class="category odd">
         <%=  inline_svg("category_icons/plants.svg") %>     
        <h1>PLANT</h1>
        </div>
      </li>
       <li class="small-6">
        <div class="category odd">
          <%=  inline_svg("category_icons/energy.svg") %>
          <h1>ENERGY</h1>
        </div>
      </li>
      <li class="small-6">
        <div class="category even">
          <%=  inline_svg("category_icons/water.svg") %>
          <h1>WATER</h1>
        </div>
      </li>
      <li class="small-6">
        <div class="category even">
          <%=  inline_svg("category_icons/footprint.svg") %>
          <h1>CARBON</h1>
        </div>
      </li>
    </ul>
  </main>
</div>



