<div class="row">
  <main class="small-12 columns">
    <ul class="row inline-list cat-list">

    <div class="goal content-header">
      <h3>Category</h3>
      <p>Participate in goals with your account and be a part that counts!</p>
    </div>

      <% @categories.each do |category| %>
      <li class="small-6">
        <div class="category">

        <a href="/<%=  category.title  %> "><%=  inline_svg(category.image_url) %>
          <h1><%= category.title %></h1></a>
        </div>
      </li>
      <% end %>

    </ul>
  </main>
</div>
