<main>

	<article class="cat-show">

		<div class="overlay-progress"></div>
		<div class="cat-info">
			<div class="cat-image">
				<img src="<%= asset_path( 'category_icons/water.svg' ) %>" alt="">
			</div><!--
			--><div class="goal-info">
				<h1>Shower</h1>
				<p>Set phone timer to 7mins shower time!</p>
			</div>
			<div class="participation-info">
				<p><span class="joined">500</span> others on-board</p>

				<p>Target:<span class="target">700</span></p>
			</div>
		</div>

	</article>


	<% @goals.each do |goal| %>

	<article class="cat-show">
		<div class="cat-image">
			<img src="<%= asset_path( 'category_icons/plants.svg' ) %>" alt="">
		</div>
		<div class="goal-info">
   			<H1><%= goal.title %></H1>
   			<P><%= goal.description  %></P>
		</div>

		<div class="participation-info">
			<p><span class="joined">500</span> others on-board</p>
			<p>Target:<span class="target">700</span></p>
		</div>
	</article>
	
	<% end %>




</main>