<main>

	<% @goals.each do |goal| %>

	<article class="cat-show">
		<div class="cat-image">
			<img src="<%= asset_path( 'category_icons/plants.svg' ) %>" alt="">
		</div>
		<div class="goal-info">
   			<H1><%= goal.title %></H1>
   			<P><%= goal.description  %></P>
		</div>

		<div class="participation-info">
			<p><span class="joined">300</span> others on-board</p>
			<p>Target:<span class="target">700</span></p>
		</div>
	</article>
	
	<% end %>

</main>
