<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>itcounts tester</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="itcounts.css">
	
<div>

	<h1>heading here</h1>

</div>

<div id="shower">

	<h3>Reducing your shower time!</h3>
	<h5>shower</h5>
	<button type="button">"I'm in!</button>
	<p>200 people involved</p>

</div>

<div id="teeth">
	
	<h3>Turning your tap off whilst brushing your teeth.</h3>
	<h5>Brushing Teeeth</h5>
	<button type="button">"I'm in!</button>
	<p>50 people involved</p>

</div>

<div id="car">

	<h3>Wash your car or boat on the lawn!</h3>
	<h5>Washing Car</h5>
	<button type="button">"I'm in!</button>
	<p>70 people involved</p>

</div>

<div id="seals">
	
	<h3>Replace any leak seals on your taps in and around the house!</h3>
	<h5>Leaking Taps</h5>
	<button type="button">"I'm in!</button>
	<p>20 people involved</p>

</div>

<div id="low">
	
	<h3>Changing your shower head to "low flow"!</h3>
	<h5>Shower Head</h5>
	<button type="button">"I'm in!</button>
	<p>10 people involved</p>

</div>

<div id="tester">

	<h3>Tester!</h3>
	<h5>Big Tester</h5>
	<button type="button">"I'm in!</button>
	<p>70 people involved</p>

</div>

<div id="more">
	
	<h3>Even more tests!</h3>
	<h5>Big Tetsters</h5>
	<button type="button">"I'm in!</button>
	<p>70 people involved</p>

</div>

<div id="another">

	<h3>With another test!</h3>
	<h5>even bigger test</h5>
	<button type="button">"I'm in!</button>
	<p>70 people involved</p>

</div>

<div id="hell">

	<h3>Oh bloody hell!</h3>
	<h5>its done</h5>
	<button type="button">"I'm in!</button>
	<p>70 people involved</p>

</div>

<div id="foot">
	
	<h3>footer here</h3>

</div>

</body>
</html>